<p>user works!</p><!--
<button (click)="displayUser()">Display User</button>

<div class="container">
<table class="table table-stripped">
    <thead>
        <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.first_name}}</td>
            <td>{{user.last_name}}</td>
            <td>{{user.email}}</td>
          
        </tr>
    </tbody>
</table>
</div>-->